JFicheros/prueba.txt
JFicheros/nuevo.txt
*~
other/
*.zip

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JClasesYHerencia/nbproject/private/
/JClasesYHerencia/build/
/JFicheros/nbproject/private/
/JFicheros/build/
/ignoredprojects/U10-Ejercicios1/nbproject/private/
/other/U10-Ejercicios1/nbproject/private/
/JClasesAbstractas/nbproject/private/
/JClasesAbstractas/build/
/JInterfaces/nbproject/private/
/GUI/nbproject/private/
/GUI/build/
/CalculadoraSistemas/nbproject/private/
/CalculadoraSistemas/build/
/ProgramacionGrafica/nbproject/private/